@use 'partials/variables' as *;
@use 'partials/mixins' as *;
@use 'partials/colors' as *;

img {
    max-width: 100%;
}

// General

.text-overlay {
    padding: 5px 10px;
    margin-right: 8px;
    border-radius: 3px;
}


p, li {
    font-size: 1.1rem;
    color: $silverSand;
    padding: 0;
    margin: 0;
}

.bg-woodsmoke-light {
    background-color: #19191F;
}

h1 {
    font-size: 3rem;
    font-weight: 900;
}

h6 {
    color: $blueChill;
    font-weight: bold;
}

.text-overlay {
    background-color: $bermuda; 
    color: $blueChill;
    padding: 5px 20px;
    display: inline-block;
}


