// ALL COLORS 

// Color cube:

$woodSmoke: #121117;
$white: #ffffff;
$midGray: #69696d;
$blueLagoon: #038384;
$silverSand: #bcbdbd;
$fountainBlue: #52bbbb;
$tussock: #bd9542;
$cafeRoyale: #74370e;
$infoBar: #21333E;
$botFooter: #0D0D11;

// Median cut:

$grayNurse: #e6ece8;
$shark: #191c1e;
$kabul: #604f42;
$breakerBay: #609d9f;
$smaitBlue: #0E272D;

// Material design:

$blueChill: #16928e;
$seaNymph: #719a9c;
$quincy: #5d412a;
$merlin: #403a36;
$bermuda: #CCE3DE;
