// ALL COLORS 

// Color cube:

$woodSmoke: #121117;
$woodSmokeLight: #19191F;
$midGray: #69696d;
$blueLagoon: #038384;
$silverSand: #bcbdbd;
$fountainBlue: #52bbbb;
$infoBar: #21333E;
$botFooter: #0D0D11;

// Median cut:

$grayNurse: #e6ece8;
$shark: #191c1e;
$breakerBay: #609d9f;
$smaitBlue: #0E272D;

// Material design:

$blueChill: #16928e;
$seaNymph: #719a9c;
$bermuda: #CCE3DE;
